@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Task Manager!</h1>
    <p class="lead"></p>
</div>

<img src="desktop/beproactive"  />
<img src="" alt="" class="yourclass" />
<img src="" alt="" style="width: 150px; height: 150px;" />